<!DOCTYPE html>
<html lang="en">
<head>
{{>basehead}}
</head>
<body>
    <div class="main-content">
        {{>header}}
    <img src="static/images/luke.jpg" alt="Luke" class="profile_image">
    </div>
    {{>footer}}
</body>
</html>