<!DOCTYPE html>
<html lang="en">

<head>
{{>basehead}}
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your local weather!</p>

        <form action="">
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="weather-1"></p>
        <p id="weather-2"></p>
        <p id="textWeatherTime"></p>
    </div>
    {{>footer}}
<script src="/static/js/app.js"></script>

</body>

</html>