<header>
    {{#if title}}
    <h1>{{title}}</h1>
    {{else}}
    <h1>Weather Application</h1>
    {{/if}}
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>